@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body,
html {
    background-color: #e8631c;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}

/* HEADER */

.header {
    width: 100%;
    height: 700px;
    background: url('/assets/Ressources/header-image.png') no-repeat center center;
    background-size: cover !important;
}

.main-text {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    margin-left: 92px;
    margin-top: 258px;
}

.main-title {
    font-size: 100px;
    color: white;
}

.main-para {
    font-size: 30px;
    color: white;
}

.header .btn {
    font-size: 29px;
    color: white;
    width: 300px !important;
    height: 50px !important;
    background-color: #e8631c;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn:hover {
    color: #e8631c;
    background-color: white;
}

/* FIN HEADER */

/* DANCE TOUR */

.dance-tour-card {
    background-color: #e8631c;
    margin-bottom: 100px;
}

.title-dance-tour {
    font-size: 75px;
    margin-top: 100px;
    color: white;
    text-align: center;
}

.para-dance-tour {
    color: white;
    text-align: center;
    margin-bottom: 77px;
}

.dance-tour-card .card-body {
    background-color: #303030;
    color: white;
    /* margin-bottom: 100px; */
}

/* FIN DANCE TOUR */

/* PRICING */

.pricing {
    background-color: #303030;
    text-align: center;
    color: white;
}

.title-pricing {
    margin-top: 95px;
}

.para-pricing {
    margin-top: 53px;
}

.pricing img {
    width: 132px !important;
}


.pricing .card {
    background-color: #e8631c;
}

.pricing .card-body {
    background-color: #e8631c;
    text-align: center;
    color: white;
}

.pricing .btn {
    color: white;
    background-color: #303030;
}

.para-pricing {
    margin-bottom: 76px;
}

/* FIN PRICING */

/* AMAZING DANCE */

.amazing-dance {
    display: flex;
    background-color: #e8631c;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.amazing-dance .img {
    background: url('/assets/Ressources/main-image2.png') no-repeat center center;
    background-size: cover !important;
    width: 50%;
    height: 800px;
}

.amazing-dance-text {
    width: 50%;
}

.amazing-dance .btn {
    color: white;
    background-color: #303030;
}

/* FIN AMAZING DANCE */

/* BEST DANCE */

.best-dance {
    background-color: #e8631c;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.best-dance-text {
    width: 50%;
}

.best-dance .img {
    background: url('/assets/Ressources/main-image3.png') no-repeat center center;
    background-size: cover !important;
    width: 50%;
    height: 800px;
}

.best-dance .btn {
    color: white;
    background-color: #303030;
}

/* FIN BEST DANCE */

/* OUR STATISTICS */

.our-stat {
    color: white;
    background-color: #303030;
    text-align: center;
}

.title-stat {
    margin-top: 140px;
}

.title-stats {
    margin-bottom: 200px;
}

.para-stat {
    font-size: 20px;
}

/* FIN OUR STATISTICS */

/* SUBSCRIBE */

.subscribe {
    background-color: #e8631c;
    color: white;
    text-align: center;
}

.title-subscribe {
    margin-top: 85px;
}

.input-subscribe {
    width: 545px;
    height: 59px;
    margin-bottom: 158px;
}

.btn-subscribe {
    width: 218px;
    height: 59px;
    background-color: #303030;
    color: white;
    outline: none;
}

/* FIN SUBSCRIBE */

/* FOOTER */
.footer {
    height: auto;
    background-color: #303030;
}

.footer h2 {
    color: white;
    font-weight: bold;
}

.footer a {
    color: white;
}


/* FIN FOOTER */


@media screen and (max-width: 768px) {

    html::-webkit-scrollbar {
        display: none;
    }

    .header {
        max-width: 100%;
        height: auto;
    }

    .main-text {
        margin-top: 50px;
        display: flex;
        margin: 0 auto;
        justify-content: center;
        align-items: center;

    }

    .main-title {
        margin-top: 15px;
        font-size: 40px;

        display: flex;
        justify-content: flex-start;
    }

    .main-para {
        font-size: 15px;
        text-align: center;
    }

    .header .btn {
        font-size: 20px;
        width: 200px !important;
        height: 30px !important;
        margin-bottom: 30px;
    }

    .dance-tour-card {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .title-dance-tour {
        font-size: 40px;
        margin-top: 20px;
        text-align: center;
    }

    .card {
        margin: 0 auto 50px auto;
        align-items: center;
    }

    .title-pricing {
        margin-top: 20px;
    }

    .para-pricing {
        margin-top: 15px;
    }

    .amazing-dance {
        display: flex;
        flex-direction: column;
    }

    .amazing-dance .img {
        width: 100%;
        height: 300px;
    }

    .amazing-dance-text {
        margin-top: 20px;
    }

    .best-dance {
        display: flex;
        flex-direction: column;
    }

    .best-dance .img {
        width: 100%;
        height: 300px;
        margin-top: 30px;
    }

    .best-dance-text {
        margin-top: 30px;
    }

    .input-subscribe {
        width: 200px;
    }

    .btn-subscribe {
        width: 100px;
    }

    .footer {
        text-align: center;
        font-size: 20px;
    }


}