<form class="opacity-75 h-100 p-1">
  

  <div class="container bg-secondary text-dark p-5 mb-6 mt-2">
    <div class="row">
      <label for="exampleInputEmail1" class="form-label  p-2 ps-0 ">Votre nom d'utilisateur*</label>
      <input type="email" class="form-control border-success align-items-center mb-3" placeholder="Nom" id="exampleInputEmail1" aria-describedby="emailHelp"/>
      <div class="col-md-12 p-0">
        <p>Niveau de difficulté<br />
            <span class="wpcf7-form-control-wrap menu-742"><select
                name="menu-742"
                class="form-label wpcf7-form-control form-control wpcf7-select wpcf7-validates-as-required"
                aria-required="true"
                aria-invalid="false"
              >
                <option value="Contacter le webmaster">Facile</option>
                <option value="Signaler un bug">Normal</option>
                <option value="Autre">Difficile</option>
              </select>
            </span>
      </div>
      <label for="exampleInputEmail1" class="form-label   p-2 ps-0">Enigme que vous
        proposer</label>
      <textarea name="Votre message ici" placeholder="Votre Enigme" class="border-success" id="" cols="70" rows="15"></textarea>
      <label for="exampleInputEmail1" class="form-label  p-2 ps-0">Réponse à votre énigme</label>
      <textarea name="Votre message ici" placeholder="Votre Solution" class="mb-3 border-success" id="" cols="70" rows="15 " class="mt-2 mb-6" placeholder="Votre Solution"></textarea>

    </div>
    <div class="container">
      <div class="row d-flex justify-content-center">
        <button type="submit" class="mt-3 w-25 btn btn-primary mb-2">Envoyer</button>
      </div>
    </div>
  </div>
</form>