<form class="opacity-75 h-100 p-1">
  

  <div class="container mb-6 mt-2">
    <div class="row">
      <label for="exampleInputEmail1" class="form-label m-6 p-2 ">Votre nom
        d'utilisateur*</label>
      <input type="email" class="form-control  align-items-center" placeholder="Nom" id="exampleInputEmail1" aria-describedby="emailHelp"/>
      <label for="exampleInputEmail1" class="form-label m-6 p-2">Enigme que vous
        proposer</label>
      <textarea name="Votre message ici" placeholder="Votre Enigme" class="m-6" id="" cols="70" rows="15"></textarea>
      <label for="exampleInputEmail1" class="form-label m-6 p-2">Réponse à votre énigme</label>
      <textarea name="Votre message ici" placeholder="Votre Solution" class="m-6" id="" cols="70" rows="15 " class="mt-2 mb-6" placeholder="Votre Solution"></textarea>

    </div>
    <div class="container">
      <div class="row d-flex justify-content-center">
        <button type="submit" class="mt-2 w-25 btn btn-secondary mb-5">Envoyer</button>
      </div>
    </div>
  </div>
</form>