<div class="container-fluid decallageTop">
    <div class="container ">
        <h1>Proposer une énigme</h1>
        <p class="fs-6">
            Vous pouvez nous proposer votre énigme avec la solution en remplissant le formulaire ci-dessous.
(Si vous ne souhaitez pas que votre nom soit cité, merci de le préciser)
        </p>
    </div>
</div>