{{!-- main page --}}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="/assets/images/SGN_06_02_2022_1654154060984.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/style.css">
    <title>EnigmaTheque</title>
</head>
<body class="bg-primary">
    {{> mainComponent/navbar }}

    {{{body}}}
    
    
    
    {{> mainComponent/footer}}
    <!-- script de js -->
  <script src="/assets/js/index.js"></script>
  <script src="/assets/js/carousel.js"></script>
  <script src="/assets/js/responsive.js"></script>
  {{!-- <script>
    document.body.style.color = '#ffffff'

  </script> --}}
    <script src="https://kit.fontawesome.com/40e3698765.js" crossorigin="anonymous" ></script>
  </body>
</html>
