  <header>
  <!-- Background image -->
  <div
    class="p-5 text-center bg-image"
    style="background-image: url('./assets/images/door-1590024_1920.jpg');height: 100vh;background-size:cover;">
    <div class="mask">
      <div class="d-flex justify-content-center align-items-center h-100">
        
      </div>
    </div>
  </div>
  <!-- Background image -->
</header>
<section class="section1">

</section>