<header>
  <!-- Background image -->
  <div class="bgDoor text-center bg-image col-md-12 container-fluid p-0"  >
    <div class="mask col-md-6 bg-black opacity-50 h-100 d-flex align-items-center">
      <div class="col-md-12 d-flex align-items-center text-light row">
        <p >
          EnigmaTheque est un site qui propose des énigmes avec leurs solutions.
          Classées dans des catégories afin de mieux s'y retrouver, il y en a
          pour tous les goûts et pour tous les niveaux avec des devinettes
          simples mais aussi des énigmes difficiles. Créé en 2022, EnigmaTheque
          vous propose d'envoyer vos énigmes afin de faire vivre cette petite
          communauté.
        </p>
        
        <p>
          <br />
          Dans
          <strong class="text-secondary">Enigmes & Solutions</strong>
          vous avez trois catégories :
          <br />
          - Facile
          <br />
          - Normal
          <br />
          - Difficile
          <br>
          Certaines énigmes sont celles qui constituent la base du site d'autres ont été proposer par les utilisateurs.

        </p>
        <p>
          Une liste officiel de <strong class="text-secondary">Devinettes</strong> vous est aussi proposées.
        </p>
        <p>
          Les <strong class="text-secondary">Enigme de l'homme sage</strong> elle ressemble sensiblement à celles du <i class="text-secondary">Père Fouras</i>
          <br>
          <i>Le Père Fouras est le centenaire gardien des clés du fort. On ne sait pas quel âge il a réellement. La légende dit qu’il aurait participé à la construction du fort boyard, et qu’il y a élu domicile ...

Elle dit également que c’est lui qui durant tout l’hiver invente de nouvelles épreuves dans le plus grand secret.</i>
<br>
 Amusez-vous bien !
          
        </p>
      </div>

    </div>

  </div>
  <!-- Background image -->
</header>