<div class="container-fluid bg-secondary w-100 pb-5 borderCarrousel ">
  <div class="col-md-12 container">
    <div class="col-md-12 align-items-center  ">

      <h1
        class="p-3 text-center text-uppercase text-dark border-bottom border-dark border-3 mb-5 fw-bold align-items-center mt-5">
        Voici une selection d'enigmes
      </h1>
      <div id="carouselExampleCaptions" class="carousel slide  " data-bs-ride="carousel">
        <div class="carousel-inner col-md-6  ">
          <div class="">
            {{#each enigmes}}

            <div id="it-" class="carousel-item" data-bs-interval="5000">
              <img src="" class="imgCarousel img-fluid d-block w-100 " alt="image d'une énigme" id="img">
              <div class="carousel-caption d-md-block  bg-dark">
                  <h4 class="text-light">Cliquer sur le titre:</h4>
                <a href="/enigme/{{id_enigme }}" class=" text-decoration-none ">
                  <h3 class="text-light text-decoration-none link-secondary" id="tag">{{upper this.titre}} </h3>
                </a>
                <div class="textEnigme">
                  {{{cutStr this.content}}}
                </div>
              </div>
            </div>


            {{/each}}
          </div>

          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class=" carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>

    </div>
    <script>
      function ef() {
        document.getElementById(`it-`).classList.add('active')
      }
      ef()
    </script>

  </div>
</div>
</div>
<script src="../../../assets/js/fetch.js"></script>