<!-- sous l'image -->
<div class="py-3 container-fluid bg-primary h-100">
  <div class="row container-fluid">

    <div class="col-md-6 d-flex">
      <p class="d-flex align-items-center text-center m-0">Pour contacter le
        webmaster du site, veuillez utiliser le formulaire.<br />
        Il vous répond dans les pluis brefs délais.<br />
        Le délais est d'environ 72 heures hors periode de vacances.<br />Donc si
        vous ne recevez pas de message c'est que le webMaster est en congée.<br
        />
        Il vous répondra des que possible.

      </p>

    </div>
    <div class="col-md-6 container">
      <div class="col-md-12 bg-success">

        <h4 class="mt-2 text-center text-uppercase fw-bold">Contactez-nous !</h4>

        <form class="opacity-75 p-1">
          <div class="col-md-12">
            <div class="mb-6">
              <label for="exampleInputEmail1" class="form-label">Votre nom
                d'utilisateur*</label>
              <input
                type="email"
                class="form-control"
                placeholder="Nom"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
              />
            </div>
            <div class="mb-6">
              <label for="exampleInputPassword1" class="form-label">Votre email*</label>
              <input
                type="nom"
                class="form-control"
                placeholder="mail@exemple.fr"
                id="exampleInputPassword1"
              />
            </div>
          </div>

          <p>Sujet<br />
            <span class="wpcf7-form-control-wrap menu-742"><select
                name="menu-742"
                class="form-label wpcf7-form-control form-control wpcf7-select wpcf7-validates-as-required"
                aria-required="true"
                aria-invalid="false"
              >
                <option value="Contacter le webmaster">Contacter le webmaster</option>
                <option value="Signaler un bug">Signaler un bug</option>
                <option value="Autre">Autre</option>
              </select>
            </span>
          </p>
          <div class="container">
            <div class="row">
              <textarea
                name="Votre message ici"
                placeholder="Votre Message"
                id=""
                cols="70"
                rows="5"
              ></textarea>

            </div>
            <div class="container">
              <div class="row d-flex justify-content-center">
                <button
                  type="submit"
                  class="mt-2 w-25 btn btn-primary"
                >Envoyer</button>
              </div>
            </div>
          </div>
        </form>

      </div>
    </div>

  </div>
</div>