  <!-- AMAZING DANCE -->

  <section class="amazing-dance">
    <div class="img"></div>

    <div class="amazing-dance-text">
      <h1 class="title-amazing-dance">AMAZING DANCE</h1>
      <p class="para-amazing-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacinia odio vitae vestibulum vestibulum.</p>
      <button type="button" class="btn btn-lg">READ MORE</button>
    </div>
  </section>

  <!-- FIN AMAZING DANCE -->