<section class="best-dance">
    <div class="best-dance-text">
        <h1 class="title-best-dance">BEST DANCE</h1>
        <p class="para-best-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacinia odio vitae
            vestibulum vestibulum.</p>
        <button type="button" class="btn btn-lg">READ MORE</button>
    </div>

    <div class="img"></div>
</section>