<!-- HEADER -->
<header class="header">
    <div class="container">
        <div class="main-text">
            <h1 class="main-title">Musicology</h1>
            <p class="main-para col-md-6">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacinia odio
                vitae vestibulum vestibulum.</p>
            <button type="button" class="btn btn-lg">REGISTER NOW</button>
        </div>
    </div>
</header>