  <!-- PRICING -->

    <section class="pricing">
      <div class="row">
        <h1 class="title-pricing">PRICING</h1>
      </div>
      <div class="row">
        <p class="para-pricing">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacinia odio vitae vestibulum vestibulum.</p>
      </div>

      <div class="container">
        <div class="row mx-auto">
          <div class="col-md-4">
            <div class="card mb-5" style="width: 18rem;">
              <img src="/assets/Ressources/medaille.png" class="card-img-top mx-auto" alt="medaille">
              <div class="card-body">
                <h5 class="card-title">BASIC</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <a href="#" class="btn btn-lg">$150.00</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-5" style="width: 18rem;">
              <img src="/assets/Ressources/medaille.png" class="card-img-top mx-auto" alt="...">
              <div class="card-body">
                <h5 class="card-title">Professional</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <a href="#" class="btn btn-lg">$200.00</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-5" style="width: 18rem;">
              <img src="/assets/Ressources/medaille.png" class="card-img-top mx-auto" alt="...">
              <div class="card-body">
                <h5 class="card-title">ULTIMATE</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <a href="#" class="btn btn-lg">$250.00</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  <!-- FIN PRICING -->