<section class="subscribe">
    <div class="container">
        <div class="row">
            <h1 class="title-subscribe">SUBSCRIBE</h1>
        </div>
        <div class="row">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacinia odio vitae vestibulum
                vestibulum.</p>
        </div>

        <div class="row">
            <div class="col-md-12 col-sm-6">
                <input class="input-subscribe" type="email" name="email" id="email" placeholder="Your Email">
                <button class="btn-subscribe" type="button">SUBSCRIBE</button>
            </div>
        </div>
    </div>
</section>