<nav class="navbar navbar-expand-lg bg-light navbar-dark bg-dark">
  <div class="container-fluid d-flex">
    <div class="d-flex align-items-center">
      <a class="navbar-brand" href="/">EnigmaTheque</a>

      <a class="nav-link text-light m-2" href="/profil/{{this.user.id}}">Profil
      </a>
    </div>

    <button
      type="submit"
      class="d-flex justify-content-lg-end align-items-center text-light btn btn-danger me-2 ms-auto"
      data-bs-target="#staticBackdrop"
    >Deconnexion
    </button>
    <div
      class="d-flex collapse navbar-collapse justify-content-end"
      id="navbarSupportedContent"
    >
      <div class="col-md-2 d-flex justify-content-end">
        <form action="/logout" method="post" class="d-flex">
          {{! Deconnexion }}

        </form>
      </div>
    </div>
  </div>
</nav>