<!-- Fixed navbar -->
<nav
  class="border-bottom navbar navbar-expand-md navbar-dark navbar fixed-top bg-dark"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="/">EnigmaTheque</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarCollapse"
      aria-controls="navbarCollapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle text-light"
            data-bs-toggle="dropdown"
            href="#"
            role="button"
            aria-expanded="false"
          >Enigmes & solutions
          </a>
          {{! liste enigmes }}
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/enigme?q=facile">Facile</a></li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li><a class="dropdown-item" href="/enigme?q=normal">Normal</a></li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li><a class="dropdown-item" href="/enigme?q=difficile">Difficile</a></li>
          </ul>
          {{!  deux pages suivantes  }}
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="/proposer">Proposer</a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-light"
            href="/devinettes?q=Devinettes"
          >Devinettes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="/lesage?q=Sage">Le sage</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="/profile">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="/admin">admin</a>
        </li>
      </ul>
      {{! connexion }}
      <button
        type="button"
        class="text-dark btn btn-secondary me-2"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
      >Connexion</button>
<a href="/inscription">
<button
        type="button"
        
        class="text-dark btn btn-secondary"
      >Inscription</button>
</a>
    </div>
  </div>
</nav>
{{! modal }}
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog modal-dialog-centered">
    <div class="modal-content bg-success">
      <div class="modal-header">
        <h1 class="modal-title" id="exampleModalLabel">Connexion</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">E-mail</label>
            <input
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
            />
            <div id="emailHelp" class="form-text text-light">Nous ne partagerons
              jamais votre adresse électronique avec qui que ce soit.</div>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Mot de passe</label>
            <input
              type="password"
              class="form-control"
              id="exampleInputPassword1"
            />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
        >Mot de passe oublié
        </button>
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
        >Fermer
        </button>
        <button type="button" class="btn btn-primary">Envoyer</button>
      </div>
    </div>
  </div>
</div>