body {
    margin: 0;
    padding: 0;
    margin-top: 57px;
    color:white;
    @if (lightness($primary and $secondary and $success) > 50%){
                color: #000;
            }
            @else{
                color: #fff;
            }
            
}

.decallageTop{
margin-top: 100px;
}

.mh100{
    min-height: 100vh;
}
.mh50{
    height: 50vh;
}
// .mh150{
//     min-height: 150px;
// }
