.bg-door{
    // background-image: url(./assets/images/door-1590024_1920.jpg);
    background-size:cover;    
}

.img500{
    height: 500px ;
    width: 500px;
    display: flex;
    justify-content: center;
}