
@media screen and (min-width:1200px) {
        .btn {
            width: auto;
            font-size: 12px;
            padding: 5px;
        }
        body{
            font-size:12px ;
        }
        nav{
            font-size: 15px;
        }
        
       h1,h2,h3,h4,h5{
        font-size:12px
       } 
    button{
        width: auto;
        padding: 5px;
        margin-top: 5px;
    }
       
}
@media screen and (min-width:1024px) {
    body{
        font-size: 12px ;
    }
    nav{
        font-size: 12px;
    }
//    .carousel-item {
//     max-height: 500px;
//    }
   a {
    font-size: 10px;
   }
   .imgc{
    min-height: 500px;
}
}

@media screen and (min-width:885px) {
    nav{
        font-size: 10px;
    }
    .btn{
        font-size: 10px;
        padding: 5px;
        
    }
    // .carousel-item {
    //     max-height: 500px;
    //    }
    .imgc{
        max-height: 400px;
    }
}
@media screen and (max-width:768px) {
    .bgDoor{
        background-image: url('/assets/images/door-1590024_640.jpg'); 
        height: 100vh;
        max-width: 100%;
        
    }
    .btn{
        margin:0 ;
        margin-top: 5px;
    }
   
    h1,h2,h3,h4,h5{
        margin-top: 5px;
       }
    .imgc{
        max-height: 300px;
    }
    
}
@media screen and (max-width:400px) {
    
}