@media screen and (max-width:1920px) {
    .imgCarousel {
        height: 750px;
    }

    .carousel-item {
        height: 750px;
    }
}


@media screen and (max-width:1200px) {
    .btn {
        width: auto;
        font-size: 12px;
        padding: 5px;
    }

    body {
        font-size: 12px;
    }

    nav {
        font-size: 15px;
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
        font-size: 12px
    }

    .imgCarousel {
        height: 750px;
    }

    .carousel-item {
        height: 750px;
    }

    .bgDoor {
        background-image: url('/assets/images/door-1590024_1280.jpg');

    }
}

@media screen and (max-width:1024px) {
    body {
        font-size: 12px;
    }

    nav {
        font-size: 12px;
    }

    a {
        font-size: 10px;
    }

    .imgCarousel {
        height: 750px;
    }

    .carousel-item {
        height: 750px;
    }

}

@media screen and (max-width:992px) {
    .imgCarousel {
        height: 600px;
    }

    .carousel-item {
        height: 600px;
    }

    .bgDoor {
        background-image: url('/assets/images/door-1590024_640.jpg');

    }
}

@media screen and (max-width:885px) {
    nav {
        font-size: 10px;
    }

    .imgCarousel {
        height: 550px;
    }

    .carousel-item {
        height: 550px;
    }
}

@media screen and (max-width:768px) {
    .bgDoor {
        background-image: url('/assets/images/door-1590024_640.jpg');


    }

    .btn {
        margin-top: 5px;
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
        margin-top: 5px;
    }

    .label__check {
        margin-top: 5px;
    }

    .m-resp {
        margin: 10px;
    }

    .imgCarousel {
        height: 450px;
    }

    .carousel-item {
        height: 450px;
    }

}

@media screen and (max-width:480px) {
    .imgCarousel {
        height: 300px;
    }

    .carousel-item {
        height: 300px;
    }

}

@media screen and (max-width:400px) {
    .imgCarousel {
        height: 300px;
    }

    .carousel-item {
        height: 300px;
    }


}

@media screen and (max-width:300px) {

    .navbar-brand {
        font-size: 13px;
    }

    .form-control {
        font-size: 10px;
    }


}