<div class="col-md-12 mh100 pe-5 ps-5">
{{! énigme bg-succes}}
{{#each enigmes}}
<div class="col-md-12 bg-success m-0 row mb-3 border-success border-3">
  <div class="col-md-2">

  </div>
  <div class="col-md-10  border-start-2 border-light p-3 ">
    <h3 class="text-left "> <a href="/enigme/1" class="text-decoration-none text-light">{{this.titre}}</a></h3>
    <p class="text-left">{{cutStr this.para}}</p>
  </div>
</div>
{{/each}}
{{! énigme bg-secondary }}
<div class="col-md-12 bg-secondary text-dark me-5 row m-0 mb-3">
<div class="col-md-2">

  </div>
  <div class="col-md-10">
    <h3 class="text-left"><a href="#" class="text-decoration-none text-dark">Le verre d'eau</a></h3>
    <p class="text-left">Combien peut-on mettre de gouttes...........</p>
  </div>
</div>
{{! énigme bg-succes}}
<div class="col-md-12 bg-success row m-0 mb-3">
  <div class="col-md-2">

  </div>
  <div class="col-md-10">
    <h3 class="text-left ">Le nénuphar géant</h3>
    <p class="text-left">Un nénuphar se trouvant dans un lac double de taille chaque jour...........</p>
  </div>
</div>
{{! énigme bg-secondary }}
<div class="col-md-12 bg-secondary text-dark row m-0 mb-3">
<div class="col-md-2">

  </div>
  <div class="col-md-10">
    <h3 class="text-left">La prescription</h3>
    <p class="text-left">Votre médecin vous a donné un traitement...........</p>
  </div>
</div>
{{! énigme bg-succes}}
<div class="col-md-12 bg-success row m-0 mb-3">
  <div class="col-md-2">

  </div>
  <div class="col-md-10">
    <h3 class="text-left ">Le père et le fils</h3>
    <p class="text-left">Un père a 30 ans de plus que son...........</p>
  </div>
</div>
{{! énigme bg-secondary }}
<div class="col-md-12 bg-secondary text-dark row m-0 mb-3">
<div class="col-md-2">

  </div>
  <div class="col-md-10">
    <h3 class="text-left">Le fumeur chevronné</h3>
    <p class="text-left">Sachant que l'on a besoin de 3 mégots...........</p>
  </div>
</div>

{{! énigme bg-succes}}
<div class="col-md-12 bg-success row m-0 mb-3 border-success border-3">
  <div class="col-md-2">

  </div>
  <div class="col-md-10">
    <h3 class="text-left "> <a href="#" class="text-decoration-none text-light"></a></h3>
    <p class="text-left"></p>
  </div>
</div>
{{! énigme bg-secondary }}
<div class="col-md-12 bg-secondary text-dark row m-0 mb-3">
<div class="col-md-2">

  </div>
  <div class="col-md-10">
    <h3 class="text-left"><a href="#" class="text-decoration-none text-dark"></a></h3>
    <p class="text-left"></p>
  </div>
</div>



</div>
