<div class="h100 mt250" id="notfound">
		<div class="notfound-bg"></div>
		<div class="notfound">
			<div class="notfound-404">
				<h1>404</h1>
			</div>
			<h2>La page que vous tentez d'afficher n'existe pas ou une autre erreur s'est produite</h2>
			<a href="/" class="home-btn">Page d'acceuil</a>
			
			
		</div>
	</div>