{{!-- 
    Partial: Footer
 --}}

<!-- FOOTER -->

<div class="container-fluid footer">
    <div class="row mb-0 mt-0 row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5">
        <div class="col mb-3">
            <img src="/assets/Ressources/Logo.png" alt="Logo">
            <p>&copy 2022</p>
        </div>

        <div class="col mb-3">

        </div>

        <div class="col mb-3">
            <h2>ABOUT</h2>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0">History</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Our Team</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Brand Guidelines</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Terms & Condition</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Privacy Policy</a></li>
            </ul>
        </div>

        <div class="col mb-3">
            <h2>SERVICES</h2>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0">How to Order</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Our Product</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Order Status</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Promo</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Payment Method</a></li>
            </ul>
        </div>

        <div class="col mb-3">
            <h2>OTHER</h2>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Contact Us</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Help</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Privacy</a></li>
            </ul>
        </div>
    </div>
</div>

<!-- FIN FOOTER -->