<div class="col-md-12 mh100 decallageTop">
  <div class="col-md-12 d-flex justify-content-center mb-5">
    <img src="/assets/images/chapeau-etudiant.jpg" alt="" />
  </div>
  <div class="col-md-12">
    <h1 class="text-center mb-3">L'énigme de Stanford</h1>
    <p class=" text-center ms-3">
        Cette énigme fut posée aux étudiants de
      l'université de Stanford lors d'une épreuve de réflexion.
      </p>
    <ul class="text-center list-group-item">
      <li>C'est mieux que Dieu.</li>
      <li>C'est pire que le Diable.</li>
      <li>Les pauvres en ont.</li>
      <li>Les riches en ont besoin.</li>
      <li>Et si on en mange, on meurt.</li>
      <li>Qu'est ce que c'est ?</li>
    </ul>
    <p class="ms-3 text-center">La version originale en anglais : "What is greater than God, More evil
      than the devil, The poor have it, The rich need it, And if you eat it,
      you'll die."
    </p>

  </div>
  <div class="col-md-12 d-flex justify-content-center mb-3">
    <input type="text" placeholder="votre texte içi" />
  </div>
  <div class="col-md-12 d-flex justify-content-center">
      <button >répondre</button>
  </div>
    
</div>