<div class="col-md-12 mh100 pe-5 ps-5">
{{! énigme bg-succes}}
<div class="col-md-12 bg-success m-0 row mb-3 border-success border-3">
  <div class="col-md-2 d-flex justify-content-center align-items-center">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<div class="center">
  <label class="label">
    <input  class="label__checkbox" type="checkbox" />
    <span class=" label__text">
      <span class="label__check" id="check" onclick="colorCheckbox(this.id)" >
        <i class="fa fa-check icon"></i>
      </span>
    </span>
  </label>
</div>
  </div>
  <div class="col-md-10  border-start-2 border-light p-3 ">
    <h3 class="text-left "> <a href="/enigme/1" class="text-decoration-none text-light">{{this.titreEnigme}}</a></h3>
    <p class="text-left">{{this.para}}
      de Stanford lors d'une épreuve de..........."</p>
  </div>
</div>
{{! énigme bg-secondary }}
<div class="col-md-12 bg-secondary m-0 row mb-3 border-success border-3">
<div class="col-md-2 d-flex justify-content-center align-items-center">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<div class="center">
  <label class="label">
    <input  class="label__checkbox" type="checkbox" />
    <span class=" label__text">
      <span class="label__check" id="check" >
        <i class="fa fa-check icon"></i>
      </span>
    </span>
  </label>
</div>

  </div>
  <div class="col-md-10">
    <h3 class="text-left"><a href="#" class="text-decoration-none text-dark">Le verre d'eau</a></h3>
    <p class="text-left text-dark">Combien peut-on mettre de gouttes...........</p>
  </div>
</div>
{{! énigme bg-succes}}
<div class="col-md-12 bg-success row m-0 mb-3">
  <div class="col-md-2">

  </div>
  <div class="col-md-10">
    <h3 class="text-left ">Le nénuphar géant</h3>
    <p class="text-left">Un nénuphar se trouvant dans un lac double de taille chaque jour...........</p>
  </div>
</div>
{{! énigme bg-secondary }}
<div class="col-md-12 bg-secondary text-dark row m-0 mb-3">
<div class="col-md-2">

  </div>
  <div class="col-md-10">
    <h3 class="text-left">La prescription</h3>
    <p class="text-left">Votre médecin vous a donné un traitement...........</p>
  </div>
</div>
{{! énigme bg-succes}}
<div class="col-md-12 bg-success row m-0 mb-3">
  <div class="col-md-2">

  </div>
  <div class="col-md-10">
    <h3 class="text-left ">Le père et le fils</h3>
    <p class="text-left">Un père a 30 ans de plus que son...........</p>
  </div>
</div>
{{! énigme bg-secondary }}
<div class="col-md-12 bg-secondary text-dark row m-0 mb-3">
<div class="col-md-2">

  </div>
  <div class="col-md-10">
    <h3 class="text-left">Le fumeur chevronné</h3>
    <p class="text-left">Sachant que l'on a besoin de 3 mégots...........</p>
  </div>
</div>

{{! énigme bg-succes}}
<div class="col-md-12 bg-success m-0 row mb-3 border-success border-3">
  <div class="col-md-2 d-flex justify-content-center align-items-center">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<div class="center">
  <label class="label">
    <input  class="label__checkbox" type="checkbox" />
    <span class=" label__text">
      <span class="label__check" id="check" onclick="colorCheckbox(this.id)" >
        <i class="fa fa-check icon"></i>
      </span>
    </span>
  </label>
</div>
  </div>
  <div class="col-md-10  border-start-2 border-light p-3 ">
    <h3 class="text-left "> <a href="/enigme/1" class="text-decoration-none text-light"></a></h3>
    <p class="text-left">
      </p>
  </div>
</div>
{{! énigme bg-secondary }}
<div class="col-md-12 bg-secondary m-0 row mb-3 border-success border-3">
<div class="col-md-2 d-flex justify-content-center align-items-center">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<div class="center">
  <label class="label">
    <input  class="label__checkbox" type="checkbox" />
    <span class=" label__text">
      <span class="label__check" id="check" >
        <i class="fa fa-check icon"></i>
      </span>
    </span>
  </label>
</div>

  </div>
  <div class="col-md-10 p-3">
    <h3 class="text-left"><a href="#" class="text-decoration-none text-dark"></a></h3>
    <p class="text-left"></p>
  </div>
</div>



</div>
